body {
  margin: 0;
}

.title {
    display: flex;
    flex-direction: column;   /* stacks the text above the button */
    justify-content: center;  /* centers vertically (because of column) */
    align-items: center;      /* centers horizontally */
    min-height: 100vh;        /* makes the div fill the screen height */
}